#body {
    background: rgb(0, 0, 0);
}

#navbar img {
width: 50px;
}

#carousel img {
width: 20px;
height: 400px;
}
#carousel {
    position: relative;
}
#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#carousel .overlay .container,
#carousel .overlay .row {
    height: 100%;
}

#historia {
    background-color: rgb(0, 0, 0)
}

#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#footer {
    margin-top: 0;
    height: 100px;
    background-color: rgb(0, 0, 0);
}